{% extends 'base.html' %}

{% block extra_scripts %}
<script type="application/javascript">
    function registerCheckboxes() {
        var table = document.querySelector('table');
            var headerCheckbox = table.querySelector('thead .mdl-data-table__select input');
            var boxes = table.querySelectorAll('tbody .mdl-data-table__select');
            var headerCheckHandler = function(event) {
                console.log(boxes);
                if (event.target.checked) {
                    for (var i = 0, length = boxes.length; i < length; i++) {
                        console.log(boxes[i]);
                        boxes[i].MaterialCheckbox.check();
                    }
                } else {
                    for (var i = 0, length = boxes.length; i < length; i++) {
                        console.log(boxes[i]);
                        boxes[i].MaterialCheckbox.uncheck();
                    }
                }
            };
            headerCheckbox.addEventListener('change', headerCheckHandler);
    }
    function loadWorkspaces() {
        fetch('/get_workspaces')
            .then(response => response.json())
            .then(res => {
                for (var workspace of res) {
                    const newRow = document.getElementById('workspace_table').insertRow(0);
                    newRow.innerHTML = `
                        <tr>
                            <td>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="${workspace.namespace}/${workspace.name}">
                                        <input type="checkbox" id="${workspace.namespace}/${workspace.name}" name="${workspace.namespace}/${workspace.name}" class="mdl-checkbox__input" />
                                    </label>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">${workspace.namespace}</td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="https://app.terra.bio/#workspaces/${workspace.namespace}/${workspace.name}">${workspace.name}</a></td>
                            <td class="mdl-data-table__cell--non-numeric">${workspace.cost}</td>
                        </tr>`;
                }
                componentHandler.upgradeAllRegistered();
                document.getElementById('loading_div').remove();
                document.getElementById("mop_button").disabled = false;
                registerCheckboxes()
            })
    }    
</script>
{% endblock %}

{% block title %}Workspaces{% endblock %}

{% block extra_body_args %}onload="loadWorkspaces()"{% endblock %}

{% block content %}
<h3>Mop Workspaces</h3>
<p>You're logged in as <b>{{user}}</b>. This information was obtained by using your <a href="https://cloud.google.com/docs/authentication/application-default-credentials">Application Default Credentials</a>.</p>
<form action="/mop" method="post">
    <div id="loading_div">
        <span>Loading your workspaces...</span><div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </div>
    <br /><button id="mop_button" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" disabled>Mop selected workspaces</button>
    <br />
    <br />
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
                        <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
                    </label>
                </th>
                <th class="mdl-data-table__cell--non-numeric">Workspace Namespace</th>
                <th class="mdl-data-table__cell--non-numeric">Workspace Name</th>
                <th class="mdl-data-table__cell--non-numeric">Monthly Cost</th>
            </tr>
        </thead>
        <tbody id="workspace_table"></tbody>
    </table>
</form>
{% endblock %}