{% extends 'base.html' %}

{% block extra_scripts %}
<script type="application/javascript">
    function registerCheckboxes() {
        var table = document.querySelector('table');
            var headerCheckbox = table.querySelector('thead .mdl-data-table__select input');
            var boxes = table.querySelectorAll('tbody .mdl-data-table__select');
            var headerCheckHandler = function(event) {
                console.log(boxes);
                if (event.target.checked) {
                    for (var i = 0, length = boxes.length; i < length; i++) {
                        console.log(boxes[i]);
                        boxes[i].MaterialCheckbox.check();
                    }
                } else {
                    for (var i = 0, length = boxes.length; i < length; i++) {
                        console.log(boxes[i]);
                        boxes[i].MaterialCheckbox.uncheck();
                    }
                }
            };
            headerCheckbox.addEventListener('change', headerCheckHandler);
    }
    function loadWorkspaces() {
        fetch('/get_workspaces')
            .then(response => response.json())
            .then(res => {
                for (var workspace of res) {
                    const newRow = document.getElementById('workspace_table').insertRow(0);
                    newRow.innerHTML = `
                        <tr>
                            <td>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="mop_workspace/${workspace.namespace}/${workspace.name}">
                                        <input type="checkbox" id="mop_workspace/${workspace.namespace}/${workspace.name}" name="mop_workspace/${workspace.namespace}/${workspace.name}" class="mdl-checkbox__input" />
                                    </label>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">${workspace.namespace}</td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="https://app.terra.bio/#workspaces/${workspace.namespace}/${workspace.name}">${workspace.name}</a></td>
                            <td class="mdl-data-table__cell--non-numeric">${workspace.cost}</td>
                        </tr>`;
                }
                componentHandler.upgradeAllRegistered();
                document.getElementById('loading_div').remove();
                document.getElementById("mop_guidelines").style.display = 'block';
                registerCheckboxes()
            })
    }
    function handleConfirmationCheckboxClick(checkbox) {
        document.getElementById('mop_button').disabled = !checkbox.checked;
    }
</script>
{% endblock %}

{% block title %}Workspaces{% endblock %}

{% block extra_body_args %}onload="loadWorkspaces()"{% endblock %}

{% block content %}
<h3>Mop Workspaces</h3>
<p>You're logged in as <b>{{user}}</b>. This information was obtained by using your <a href="https://cloud.google.com/docs/authentication/application-default-credentials">Application Default Credentials</a>.</p>
<form action="/mop" method="post">
    <div id="loading_div">
        <span>Loading your workspaces...</span><div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </div>
    <div id="mop_guidelines" style="display: none;">
        <ol>
            <li>Do not mop workspaces if you don't know what this means.</li>
            <li>The workspaces listed below include all workspaces you are an owner of. Note that other users may also be working with these workspaces, and mopping will remove their ability to access mopped data. <b>Only mop workspaces for which you know mopping will not create problems for other users. If you aren't sure about a workspace, do not mop it!</b></li>
            <li><b>Mopping will delete data.</b> It will not delete any files outside the <code>submissions</code> directory nor any files referenced in a workspace data table. However, when mopping a workspace, consider how you would feel if the entire workspace bucket were deleted. If this would be a significant problem, you should be very careful to make sure all the data you need is referenced in a workspace data table, and may not want to mop the workspace at all. If you are using outputs from workflows that you don't write into the data tables then <b>these outputs will be lost.</b></li>
        </ol>
        <br />
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="delete_files">
            <input type="checkbox" id="delete_files" name="delete_files" class="mdl-checkbox__input" onclick="handleConfirmationCheckboxClick(this);" />
            <span class="mdl-checkbox__label" style="color: #ff6f00;">I have read the information above and I know that mopping workspaces <b>will permanently delete data</b>.</span>
        </label>
        <br />
        <br />
        <button id="mop_button" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--amber-900" disabled>Mop selected workspaces</button>
    </div>
    <br />
    <br />
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
                        <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
                    </label>
                </th>
                <th class="mdl-data-table__cell--non-numeric">Workspace Namespace</th>
                <th class="mdl-data-table__cell--non-numeric">Workspace Name</th>
                <th class="mdl-data-table__cell--non-numeric">Monthly Cost</th>
            </tr>
        </thead>
        <tbody id="workspace_table"></tbody>
    </table>
</form>
{% endblock %}